        <div  class="card m-2">
            <div class="card-header bg-dark">
                <h3>
                    <a class="article-link text-white" target="_blank" rel="noopener noreferrer" href="{{url}}" target ="_blank">{{headline}}</a>
                    <a class="btn btn-success text-white save" id="save" data-id="{{id}}">Save Article</a>
                </h3>
            </div>
            <div class="card-body">{{summary}}</div>
        </div>