<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.1/journal/bootstrap.min.css">
    <link rel="stylesheet" href="/style.css">
    <title>BBC Mongo Scraper</title>
</head>

<body class = "bg-secondary">
    {{{ body }}}
</body>

</html>